<section>
    <div class="navbar">
        <h1 class="ml-4">
            <a href="/home/{{this.empresa.id}}" style="color:white"><small>{{this.empresa.denominacion}}</small></a>
        </h1>
        <div class="help-box text-right mr-3">
            <small>
            <span style="color:white">Telefono</span>
            <br>
            <h2><a href="callto:#">{{this.empresa.telefono}}</a></h2>
        </small>
            <br>
            <small>
            <span style="color:white">Horario</span>
            <br>
            <h2 style="color:gray">{{this.empresa.horario_de_atencion}}</h2>
        </small>
        </div>
    </div>
    <div class="container">
        <h4 class="mt-2">Buscar por:</h4>
        <select class="select" [(ngModel)]="keyword">
            <option value="titulo_de_la_noticia"  selected>Titulo de la Noticia</option>
            <option value="resumen_de_la_noticia">Resumen</option>
        </select>
        <div class="ng-autocomplete">
            <ng-autocomplete class="complete" [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.titulo_de_la_noticia"></a>
            </ng-template>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.resumen_de_la_noticia"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </div>
    <section class="mt-3 ml-5 mr-5">
        <div id="imagenPrincipal" style="height: 600px; background-image: url({{this.noticia.imagen_noticia}}); background-repeat: no-repeat;background-size: cover;" align="center">
            <div style="margin-left: 10px; text-align:left; background-color: rgba(1,1,1,0.5);color: #ffffff;font-size: 16px;line-height: 50px;">
                {{this.noticia.titulo_de_la_noticia}}
            </div>
        </div>
        <div>
            <h1>{{this.noticia.titulo_de_la_noticia}}</h1>
            <h4>Fecha de Publicacion: {{this.noticia.fecha_publicacion}}</h4>
            <hr>
            <h4>{{this.noticia.resumen_de_la_noticia}}</h4>
            <hr>
            <h4>{{this.noticia.contenido_html}}</h4>
        </div>
    </section>
    <hr>
    <div class="ml-3">
        <p>
            {{this.empresa.denominacion}} <span id="copyright-year"></span>
            <a href="">Privacy Policy</a>
        </p>
    </div>
</section>