<section class="section">
  <div class="divi">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-10">
        <h1>Gestión de Noticias</h1>
      </div>
      <div class=" col-xs-12 col-sm-4 col-md-2">
        <button type="button" class="btn btn-primary float-right ml-3 btn-block" (click)="agregar()">+ Agregar</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <table class="table">
          <thead class="thead-dark" align="center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col" hidden>Resumen</th>
              <th scope="col" hidden>Imagen</th>
              <th scope="col" hidden>Contenido</th>
              <th scope="col">Publicada</th>
              <th scope="col">Fecha</th>
              <th scope="col">Empresa</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr *ngFor="let i of noticias | paginate: { itemsPerPage: 6, currentPage: pageActual }">
              <th scope="row">{{i.id}}</th>
              <td>{{i.titulo_de_la_noticia}}</td>
              <td hidden>{{i.resumen_de_la_noticia}}</td>
              <td hidden>{{i.imagen_noticia}}</td>
              <td hidden>{{i.contenido_html}}</td>
              <td>{{i.publicada}}</td>
              <td>{{i.fecha_publicacion}}</td>
              <td>
                <a href="/home/{{i.idEmpresa.id}}">Pagina de la Empresa</a></td>
              <td>
                <button type="button" class="btn btn-warning" (click)="update(i.id)">Update</button>
                <button type="button" class="btn btn-danger" (click)="delete(i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </div>
</section>