<div class="container">
    <div>
        <h1>Buscador de Noticias</h1>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input min="2" minlength="2" type="text" placeholder="Search..." class="form-control" name="textoBuscado" [(ngModel)]="textoBuscado">
                    <button *ngIf="textoBuscado.length >= 1" class="btn btn-primary" type="submit" (click)="getNoticias()">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-info">
                Texto Buscado: {{this.textoBuscado}}
                <tbody>
                    <tr *ngFor="let noticia of noticias">
                        <td><img width="200px" height="100px" src="{{noticia.imagen_noticia}}" alt="Imagen de la Noticia" (click)="goNoticia(noticia.id)"></td>
                        <td>{{noticia.titulo_de_la_noticia}}
                            <br> {{noticia.resumen_de_la_noticia}}
                            <br> {{noticia.fecha_publicacion}}
                            <br>
                            <a href="/detalle/{{noticia.id}}">Leer Mas</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>