.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    background-color: white;
}

.divi {
    height: 85%;
    width: 85%;
    margin-top: 5%;
    margin-left: 100px;
    margin-right: 100px;
}

.tdi {
    display: flex;
    width: 100%;
}